body {
    font-family: Arial, sans-serif;
    max-width: 980px;
    margin: auto;
}

#banner {
    text-align: center;
}

#banner-img {
    width: 980px; 
    height: 400px; 
}

#detailed img {
    width: 1400px;
    height: 650px;
    margin-bottom: 10px;
    text-align: left;
}

#detailed a {
    white-space: nowrap;
    text-align: left;
}


#product-description  {
    margin: 20px 0;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

#specs-features {
    margin: 20px 0;
    font-style: italic;
    font-weight: bold;
}
#hotspot-map img {
    width: 100%;
    height: auto;
}

#navigation a {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
}

#map {
    width: 100%;
    height: 300px; 
    background: url('C:\Users\ogzhn\Downloads\canada map.png') no-repeat center;
    background-size: contain;
}

#navigation a:hover {
    background-color: #0056b3;
}

.larger-text {
    font-size: 45px;
    text-align: center;
}
